
@media (max-width: 500px) {
    .main__orientate-flex {
        padding: 0 2rem;
        justify-content: center;
    }

    .buttons {
        flex-direction: column;
        gap: 1rem;   
    }

    .contenedor-input__buttons {
        height: 420px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-bottom: 2rem;
    }

    .info {
        margin-left: 4rem;
    }

    .result-encrip-desencrip {
        margin-bottom: 3rem;
    }
}